---
import { Image } from 'astro:assets';
---

<section class="flex items-center justify-center w-full h-screen bg-gray-50 relative">
    <div class="w-full absolute left-0 -bottom-12">
        <p class="block text-[1.5vw] ml-7">Hello everyone.<br>Welcome to website.</p>
        <h1 class="font-bebas_bold text-[21vw] leading-none tracking-tight text-center scale-y-90">ASTRO LEARNING</h1>
    </div>
    <Image class="w-1/3 rounded-xl relative" src="/image/top/mv_img.jpg" alt="メインビジュアル" width="50" height="63"/>
</section>