---
import { Image } from 'astro:assets';
---

<section class="bg-gray-50 py-52">
    <p class="mx-auto text-[2.5vw] leading-loose text-center w-4/5">
        Astroを触ってみた✌️<br>
        画像用のコンポーネントはあるけどリンク用のはないのかな？🤔<br>
        ReactやNext.jsと考え方は似ていてとっつきやすい。<br>
        動的ルーティングやコンポーネントにPropsを渡したりはできた。<br>
        マークダウンやCMS連携、アニメーションあたりをやってみようかな。<br>
        ついでにTailwind使ってみてるけどよくわからん
    </p>
</section>