---
export async function getStaticPaths() {
    return [
        {params: {id: 'chrome'}},
        {params: {id: 'safari'}},
        {params: {id: 'firefox'}},
        {params: {id: 'brave'}},
        {params: {id: 'microsoft_edge'}},
        {params: {id: 'internet_explorer'}},
        {params: {id: 'opera'}},
    ];
}

const { id } = Astro.params;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>{id}記事ページ</h1>
	</body>
</html>